In [1]:
# Bibliotecas Importadas

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Importação do Dataset

dados = pd.read_csv('suicidios_2010_a_2019.csv', sep=";")
dados.columns = dados.columns.str.lower()
dados.head()

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,unnamed: 0,estado,ano,mes,dtobito,dtnasc,sexo,racacor,assistmed,escmae,estciv,esc,ocup,codmunres,causabas,causabas_o,lococor,cirurgia
0,1,AC,2010,1,31/01/2010,09/11/1999,Masculino,Parda,NaN,NaN,Solteiro/a,1 a 3 anos,ESTUDANTE,Tarauacá,X780,X780,Via pública,Não
1,2,AC,2010,2,07/02/2010,23/09/1985,Masculino,Parda,NaN,NaN,Solteiro/a,1 a 3 anos,ESTUDANTE,Tarauacá,X780,X780,Hospital,Não
2,3,AC,2010,2,19/02/2010,06/08/1995,Masculino,Parda,NaN,NaN,Solteiro/a,1 a 3 anos,ESTUDANTE,Tarauacá,X780,X780,Hospital,Não
3,4,AC,2010,4,20/04/2010,25/12/1983,Feminino,Parda,NaN,NaN,Casado/a,1 a 3 anos,DONA DE CASA,Tarauacá,X780,X780,Domicílio,Não
4,5,AC,2010,7,24/07/2010,13/05/1982,Masculino,Parda,NaN,NaN,Casado/a,NaN,DONA DE CASA,Tarauacá,X720,X720,Domicílio,Não